body{
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url("indianConstitution2.jpg");
    
}

.maincnt{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.15vw;
    background-color: #e9ecef;
    width: 60%;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #26292E;
}

h1{
    color: #E58947;
}


.quest{
    font-size: 1.15vw;
    margin-left: 5%;
    margin-right: 1%;
}

input[type=radio] {
    border: 0px;
    height: 2vh;
    width: 2vw;
}

section{
    width: auto;
    height: 15vh;
    background-image: linear-gradient(to right, #565D67, #26292E);
    display: flex;
    justify-content: center;
    position: relative;
}

.res{
    padding: 1vh 3.5vw;
    background-image: linear-gradient(to right, #FAB685, #E58947);
    border: none;
    font-size: x-large;
    border-radius: 0.5vw;
    position: absolute;
    top: 40%;
    color: white;
}

main{
    width: auto;
    height: 10vh;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #FAB685, #E58947);
    color: white;
    padding-top: 3vh;
}

td{
    padding-left: 2vw;
    padding-right: 2vw;
}

form{
    line-height: 4vh;
}


@media only screen and (max-width: 1000px){

    .maincnt{
        width: 100vw;
        font-size: 1.15vh;
    }
    .quest{
        font-size: 1.15vh;
    }
    input[type=radio] {
        border: 0px;
        height: 1.5vh;
        width: 1.5vw;
    }

    label{
        font-size: 1.35vh;
    }
}


