body{
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.maincnt{
    font-size: 19px;
    background-color: #adb5bd;
    width: 60%;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #26292E;
}

h1{
    color: #E58947;
}

label{
    font-size: 19px;
}

.quest{
    margin-left: 5%;
    margin-right: 1%;
}


@media only screen and (max-width: 1000px){
    .maincnt{
        width: auto;
        font-size: 25px;
    }

    label{
        font-size: 30px;
        font-weight: 400;
    }
}


