body{
    padding: 0;
    margin: 0;
    background-color: #171721;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.btncontainer {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.chapter{
      font-family: 'Be Vietnam Pro', sans-serif;
      font-weight: 600;
      padding: 15px;
      margin: 10px;
      border-radius: 25px;
      background-color: #FFC212;
      box-shadow: 5px 10px #FFC212;
      border: none;
      cursor: pointer;
      box-shadow: inset 0 0 0.5em 0 #FFC212, 0 0 0.5em 0 #FFC212;  
      position: relative;   
}

.chapter::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    box-shadow: 0 0 2em 0.5em #FFC212;
    opacity: 0;
    background-color: #FFC212;
    z-index: -1;
    transition: opacity 100ms linear;

}




.chapter:hover::after
{
    opacity: 1;

}
